# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.idea/
android/.gradle/
macos/Flutter/ephemeral/

# Rust
target/
Cargo.lock

# Node/npm (if ever used)
node_modules/

# Python (if virtualenv used)
venv/
__pycache__/

# macOS & system
.DS_Store

# Logs
*.log

